<div class = "create_container">
  <div class= "create_form_container">
  <h1>Design A New Cocktail</h1>
    <div class = "create_cocktail">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.error_notification %>
        <%=  f.error_notification errors: true %>
        <%= f.input :name, :input_html => {:size => 60}, label_html: { class: 'label_block' } %>
        <%= f.input :category, :input_html => {:size => 60},label_html: { class: 'label_block' } %>
        <%= f.input :preparation, :as => :text, :input_html => {:rows => 3, :cols => 60},label_html: { class: 'label_block' } %>
        <%= f.input :garnish, :input_html => {:size => 60},label_html: { class: 'label_block' } %>
        <div id = "white">
          <%= f.input :photo, label_html: { class: 'label_block' } %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class = "submit">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
    <div class="links">
      <br>
      <%= link_to 'Return to Cocktails List', root_path %>
    </div>
  </div>

</div>
