<div class = "show_banner">
  <h1><%= @cocktail.name %></h1>
</div>
<div class = "flex_box">
<% if @cocktail.photo? %>
<div class="show_photo">
   <%= cl_image_tag @cocktail.photo, height: 400, width: 600, :class => "img_preview" %>
</div>
<% end %>

<div class = "show_container">
  <% if @cocktail.category && @cocktail.category != "" %>
  <div class= "category">
    <p class>Category</p>
    <h2><%= @cocktail.category %></h2>
  </div>
  <% end %>

  <div class = "preparation">
    <p>Preparation</p>
    <div class = "prep_box">
      <div id = "prep"><%= @cocktail.preparation %></div>
      <ul>
        <% @cocktail.doses.each do |d|%>
        <div class = "dose_card">
          <li><%= d.description %> <%= d.ingredient.name %></li>
          <% if d.label && d.label != "" %>
            <div class = "dose_label">Label: <%= d.label%></div>
          <% end %>
        </div>
        <% end %>
      </ul>
      <%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail) %>

      <% if !@cocktail.tags.empty? %>
        <h3>Specials:</h3>
        <ul class="list-unstyled">
        <% @cocktail.tags.each do |t| %>
          <li><%= t %></li>
        <% end %>
      <% end %>
      </ul>
      <% if @cocktail.garnish && @cocktail.garnish != "" %>
        <h3>Garnish:</h3>
        <div class="garnish"><%= @cocktail.garnish %></div>
      <% end %>
    </div>


  </div>
</div>



</div>
 <div class="links">
    <%= link_to 'Delete Cocktail', cocktail_path(@cocktail), method: :delete %>
    <%= link_to 'Return to Cocktails List', root_path %>
  </div>
