<div class = "show_container">
<div class = "show_banner">
  <h1><%= @cocktail.name %></h1>
</div>

<h2>Ingredients of a <%= @cocktail.name %></h2>
<%= @cocktail.preparation %>
<ul>
  <% @cocktail.doses.each do |d|%>
  <li><%= d.description %></li>
  <li><%= d.ingredient.name %></li>
  <% if !d.label.nil? %>
    <li><%= d.label%></li>
  <% end %>
  <br>
  <% end %>
</ul>

<% if !@cocktail.tags.empty? %>
  <h3>Specials:</h3>
  <% @cocktail.tags.each do |t| %>
    <%= t %>
  <% end %>
<% end %>

<%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Home', cocktails_path %>
<%= link_to 'Delete Cocktail', cocktail_path(@cocktail), method: :delete %>
</div>
